$primaryColor: #B11C34;
$primaryDarkColor: #7A1021;
$primaryLightColor: #dd2241;
$accentColor: #ffeb3b;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;
$darkMenuBgColor: #7A1021;
$darkMenuHoverColor: #dd2241;

@import '../sass/layout/_layout';